.container-calculator{
    justify-content: space-between;
    padding: 20px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
   
}

.cab-img{  
    display: flex;
    width: auto;
}

.thikness{
    padding-bottom: 20px;
}

.results{
    display: grid;
  
}

.results-label{
    display: table-row;
}

.results-label label{
    display: table-cell;
    text-align: center;
}

@media (max-width: 800px) {
    .container-calculator {
      flex-direction: column;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    
   
    
   
  }

  
  