.container-calculator{
    justify-content: space-between;
    height:600px;
    padding: 20px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
   
}

.cab-img{  
    background-color: rgb(85, 100, 112)  
}

.thikness{
    padding-bottom: 20px;
}

.results{
    display: grid;
  
}

.results-label{
    display: table-row;
}

.results-label label{
    display: table-cell;
    text-align: center;
}

@media (max-width: 800px) {
    .container-calculator {
      flex-direction: column;
      
    }
   
   
  }